nav {
  background-color: gray;

  display: flex;
  flex-direction: column;
  width: 75px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
ul {
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  padding-left: 15px;
  list-style-type: none;
  width: 100%;
}