/* .font-link {
	font-family: 'Inknut Antiqua';
	font-family: 'Courier Prime', monospace;
	font-family: 'Inknut Antiqua', serif;
} */

p
{
	text-align: center;
	font-family: 'Inknut Antiqua';
}

button
{
	border: none;
	text-align: center;
	font-size: 16px;
	font-family: 'Inknut Antiqua';
	background-color: #ffffff;
}

body
{
	/* background-image: url(./assets/pole.png); */
	background-size:contain;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
}

#title
{
	text-align: center;
	font-family: 'Inknut Antiqua';
	font-size: 3vw; /* % of the viewport's width */
	background-color: #ffffff;
}

h1
{
	font-size: 300%;
	text-align: center;
	font-family: 'Inknut Antiqua';
}

/* contact */
.contactblock
{
	display: grid;
	grid-template-columns: auto auto;
	align-content: center;
	margin: 1%;
	justify-content: space-evenly;
}

.contactblock > div
{
	padding: 50px;
	background: #d4d4d4;
	border-radius: 50px;
}

/* character */
.character-container
{
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
	justify-content: space-evenly;
	row-gap: 100px;
}

.character-item
{
	flex: 33%;
	max-width: 33%;
	padding: 0 4px;
	padding-bottom: 3%;
	padding-top: 3%;
	
	border-style: solid;
	border-color: #d4d4d4;
	background-color: #edebeb;

	padding-left: 35px;
	padding-right: 35px;
	
	transition: transform .2s;
}

.character-item:hover
{
	/* border-color: rgb(205, 205, 205); */
	transform: scale(1.05);
}

.character-item img
{
	/* margin-top: 8px; */
	vertical-align: middle;
	width: 100%;
	height: auto;
	padding-bottom: 25px;
}

.character-text
{
	font-size: medium;
	text-align: center;
}

@media screen and (max-width: 1000px) {
	.character-item {
		flex: 100%;
		max-width: 50%;
	}
}

@media screen and (max-width: 800px) {
	.character-item {
		flex: 100%;
		max-width: 80%;
	}
}

@media screen and (max-width: 600px) {
	.character-item {
		flex: 100%;
		max-width: 100%;
	}
}
